* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	color: #e1e1e6;
	background-color: #121214;
}

body, #app {
	height: 100%;
}

h1, h2, h3 {
	height: fit-content;
} 